@charset "utf-8";

.btn {
    height: 3rem;

    border-radius: 3px;

    font-size: 1rem;
    font-weight: 700;
}
 
.product__btn {
    padding: .5rem;
}

.product__btn svg {
    width: 1rem;
    height: 1rem;

    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.product__btn--cart svg {
    stroke-width: 1.5;
}

.product__btn--wish svg {
    stroke-width: 1.0;
}

.product__btn--wish[aria-pressed="true"] svg {
    fill: #F25C74;
    stroke: #F25C74;
}

/* Join - Button */
.btn-signup {
    width: 100%;
    color: #fff;
    background: #F25C74;

    margin: 1.5rem 0;
}

.btn-reset {
    display: block;
    width: 100%;
    text-align: end;

    text-decoration: underline;
}

/* Product Form - Button */
.product-form__btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;

    height: 2.5rem;

    margin: 1rem 0 1rem 0;
    
}
.product-form__btn--buy,
.product-form__btn--cart {
    padding: 1rem;
    border-radius: 3px;
}

.product-form__btn--buy {
    color: #fff;
    background: #F25C74;
}

.product-form__btn--cart {
    border: 1px solid #0E0E0E;
}