@charset "utf-8";

.review__image {
    display: block;
    width: 100%;
    object-fit: cover;

    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.review__content {
    width: 100%;
    min-width: 0;

    font-size: .75rem;
    line-height: 1.5;
    max-height: calc(.75rem * 5);
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: keep-all;
    overflow-wrap: anywhere;

    padding: .5rem .25rem;
    letter-spacing: .05rem;
}