@charset "utf-8";

/* Font Base */
body {
    font-family: 
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans KR",
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    Arial,
    sans-serif;

    font-size: 1rem;
    line-height: 1.5;
    color: #1F2937;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.3;
}

/* Text Accent */
.text-accent {
    color: #000;
}
