
.seoul-youth-center__future-improvements {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.seoul-youth-center__future-improvements-header,
.seoul-youth-center__future-improvements-list,
.seoul-youth-center__future-improvements-list li,
.seoul-youth-center__future-improvements-insight {
  display: grid;
}

.seoul-youth-center__future-improvements-list {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  align-items: center;
}

@media (max-width: 1100px) {
  .seoul-youth-center__future-improvements-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  .seoul-youth-center__future-improvements-list {
    grid-template-columns: 1fr;
  }
}
