@charset "utf-8";

/* Category Nav */
.category-nav__list {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 1.5rem;

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;

    white-space: nowrap;
    padding: 1rem;
}

.category-nav__list::-webkit-scrollbar {
    display: none;
}

.category-nav__list a[aria-current="page"] {
    font-weight: 700;
}

/* Catalog Toolbar */
.catalog-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1rem;
}

/* View Toggle */
.view-toggle {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: .625rem;
}

.view-toggle__btn {
    padding: .5rem;

    font-weight: 400;
}

.view-toggle__btn[aria-pressed="true"] {
    font-weight: 700;
}

/* Catalog Sort*/
.catalog-sort {
    padding: 0rem 2rem 0rem .65rem;
    
    font-size: .625rem;
    
    background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 12 12'>\<path d='M2 4 L6 8 L10 4' stroke='black' stroke-width='1' fill='none' stroke-linecap='round'/>\</svg>");
    background-repeat: no-repeat;
    background-position: right .65rem center;
}

/* Catalog */
.catalog__list {
    display: grid;
    gap: 3rem .25rem;
}

.catalog__list[data-view="1col"] {
    grid-template-columns: 1fr;
}

.catalog__list[data-view="2col"] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 5rem 0 2rem 0;
}

.pagination a {
    padding: .5rem;
}

.pagination__btn {
    font-size: 1.25rem;
}


.pagination a[aria-current="page"] {
    font-weight: 700;
}

/* Product Form */

.product-form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: auto;

    padding: 2rem 2rem calc(2rem + env(safe-area-inset-bottom));

    background: #fff;
    border-radius: 12px 12px 0 0;

    box-shadow: 0 -8px 24px rgba(0, 0, 0, .12);
}

.product-form__name::after {
    content: "";
    display: block;

    margin: 1rem 0;

    border-bottom: 1px solid #d8d5d2;

    font-weight: 600;
}

.product-form__size {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-form__size legend {
    margin-bottom: .5rem;
}

.product-form__size-option {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 1.75rem;
    height: 1.75rem;

    border: 1px solid #d8d5d2;
    border-radius: 3px;

    cursor: pointer;
}

.product-form__size-option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;

    font-size: .875rem;
}

.product-form__size-option input:checked + span {
    font-weight: 700;
}

.product-form__size-option:has(input:checked) {
    border: 1px solid #0E0E0E;
    background-color: #0E0E0E22;
}

.product-form__size-option input:focus-visible {
    outline: none;
}

.product-form__size-option input:focus-visible + span {
    outline: 2px dashed #1F2937;
    outline-offset: 2px;
}

.product-form__btn {
    position: relative;
}

.product-form__btn:before {
    content: "";
    position: absolute;
    top: -85%;
    display: block;

    width: 100%;

    margin: 1rem 0;

    border-bottom: 1px solid #d8d5d2;
}

.product-form__btn {
    display: flex;
    gap: .5rem;

    height: 2.5rem;

    margin: 2rem 0 1rem 0;
}
.product-form__btn--buy,
.product-form__btn--cart {
    flex: 0 0 50%;
    padding: 1rem auto;
    border-radius: 3px;
}

.product-form__btn--buy {
    color: #fff;
    background: #F25C74;
}

.product-form__btn--cart {
    border: 1px solid inherit;
}

/* Hide */
.product-form {
    display: none;
}
