<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine On
  RewriteBase /portfolio/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

ErrorDocument 404 /portfolio/index.html
