@charset "utf-8";

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.5rem;
    background-color: #F1F5F9;
}

.top-bar p {
    width: 1200px;
    font-size: .875rem;
    white-space: nowrap;
}

/* Header */
/* Header Top */
.header-top {
    display: grid;
    grid-template-columns: 
        minmax(16.5rem, .75fr) 1fr .75fr;
    column-gap: 5.5rem;
    align-items: center;

    padding: 1.5rem;
}

.logo {
    width: auto;
    height: 2.5rem;
    min-height: 1.5rem;
    
    object-fit: contain;
}

.search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 48px;
    padding: 0 .25rem 0 1rem;

    border: 1px solid #FF8A3D;
    border-radius: 100px;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    width: 40px;
    height: 40px;
    background: #FF8A3DCC;
}

.search__btn svg {
    width: 18px;
    height: 18px;
    stroke: #fff;
    stroke-width: 2;
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-user svg {
    width: 20px;
    height: 20px;
}

.nav-user a {
    display: flex;
    gap: .5rem;
    font-weight: 500;
    white-space: nowrap;
}

/* Header Bottom */
/* Main */
.header-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    padding: 0 1.5rem;
}

.nav-global-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 4rem;
    height: 4rem;

    font-size: .75rem;
    font-weight: 500;

    border-radius: 10px;
    background: #F1F5F9;
}

.nav-primary__list {
    display: flex;
    gap: .5rem;
}

.nav-primary__item {
    position: relative;
    padding: 1.1rem 1rem;
}

.nav-primary__main {
    position: relative;
    min-width: 12rem;
    padding: .75rem 1rem;

    font-size: 1.25rem;
    font-weight: 500;

    white-space: nowrap;
}

/* Main Hover */
/* Hover : Star */
.nav-primary__main:hover {
    font-weight: 700;
    color: #2563EB;
}

.nav-primary__main::after {
    content: "";

    display: inline-block;
    position: absolute;
    top: 0;
    right: -6px;

    width: 1.125rem;
    height: 1.125rem;

    opacity: 0;
    transform: translate(-10px, 10px);
    transition: all .2s ease-in-out;

    background: url(../../assets/icons/star--hover.svg) 
                no-repeat center / contain ;
    
}

.nav-primary__main:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

/* Hover : Sub */
.nav-primary__item:hover > .nav-primary__sub,
.nav-primary__item:focus-within > .nav-primary__sub {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Sub */
.nav-primary__sub {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;

    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem 2.5rem;

    width: max-content;
    min-width: 100%;
    max-height: 16rem;
    align-content: flex-start;
    
    padding: 1.5rem 1.25rem;

    border: 1px solid #D9D9D9;
    background: #fff;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: all .2s ease-in-out;
}

.nav-primary__sub a {
    left: 0;
    top: 100%;

    min-width: max-content;

    padding: .75rem .75rem;
    white-space: nowrap;
}

/* Sub Hover */
.nav-primary__sub a:hover {
    font-weight: 700;
    border-radius: 10px;
    color: #2563EB;
}
