@use '../foundation' as *;

.cursor-satellite {
  position: fixed;
  width: rem(32px);
  aspect-ratio: 1 / 1;
  pointer-events: none;
  z-index: 9999;
  color: var(--cursor-key);

  transition: $tr-base;

  &.is-hover {
    color: var(--cursor-key-hover);
    filter: drop-shadow(0 0 10px var(--cursor-key-hover-glow));
  }

  @include respond-down('mobile') {
    display: none !important;
  }

  @media (pointer: coarse) {
    display: none !important;
  }
}

.key-cursor {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;

  transform-box: fill-box;
  transform-origin: 25% 50%;
}