@use '../foundation' as *;

.scroll-down {
  font-size: get-fs('base', 'default');
  color: $text-primary;

  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: none;
  user-select: none;
}

.scroll-down__text {
  text-transform: lowercase;
  letter-spacing: 0.08em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.scroll-down__icon {
  display: inline-block;
}
