@use '../foundation' as *;

.scroll-down {
  @include text-size('base');
  color: $text-primary;

  @include flex-center;
  flex-direction: column;

  pointer-events: none;
  user-select: none;
}

.scroll-down__text {
  text-transform: lowercase;
  letter-spacing: 0.08em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.scroll-down__icon {
  display: inline-block;
}
