@use '../foundation' as *;


// Folder Widths
$folder-min-width: 250px;
$folder-preferred-width: 20vw;
$folder-max-width: 800px;
$folder-ratio: 413 / 373;

// Container
.work__card.is-folder {
  position: relative;
  perspective: 1000px;
  
  aspect-ratio: $folder-ratio;
  width: clamp(#{$folder-min-width}, #{$folder-preferred-width}, #{$folder-max-width});

  .work-card__inner {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .folder__img-box {
        // 30~40px 정도 위로 올리면 적당히 탭 위로 얼굴을 내밉니다
        transform: translateY(-50px); 
      }

      .folder__front-container {
        transform: translateY(10px) rotateX(15deg);
        transition: $tr-base;
      }

      .svg-hover {
        opacity: 1;
      }

      .folder__info {
        color: $text-primary;
        @include pad('pad', 'md', 'bottom');
      }

      .folder__title {
        @include font-style ('lg', 'extra-bold');
      }

      .folder__year {
        @include font-style('sm', 'bold')
      }

      .tech-icon {
        &.is-html { background-color: $html; }
        &.is-css { background-color: $css; }
        &.is-scss { background-color: $scss-color; }
        &.is-javascript, &.is-js { background-color: $js; }
        &.is-gsap { background-color: $gsap; }
        &.is-lenis { background-color: $lenis; }
        &.is-php { background-color: $php; }
        &.is-mysql { background-color: $mysql; }
        &.is-figma { background-color: $figma; }
        &.is-jquery { background-color: $jquery; }
        &.is-react { background-color: $react; }
        &.is-java { background-color: $java; }
        &.is-github { background-color: $github; }
        &.is-git { background-color: $git; }
      }
    }
  }
}


// Back
.folder__back {
  position: absolute;
  inset: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  overflow: visible !important;

  svg {
    position: absolute;
    inset: 0;
    transition: $tr-base;

    overflow: visible !important;
  }
}


// Image
.folder__img-box {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 2;
  overflow: hidden;

  width: 90%;
  height: 50%;

  border-radius: 5%;
  background: #fff;

  transition: $tr-elastic;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


// Front
.folder__front-container {
  position: absolute;
  inset: 0;
  z-index: 3;

  width: 100%;
}

.folder__front {
  position: absolute;
  inset: 0;
  
  svg {
    position: absolute;
    inset: 0;
  }

  .svg-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    overflow: visible !important;
  }
}


// Info
.folder__info {
  position: relative;
  z-index: 4;

  height: 100%;
  aspect-ratio: 413 / 373;

  @include pad('pad', 'md');
  @include pad('gutter', 'md', 'bottom');

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include f-gap('gutter', 'sm');

  color: $text-inverse;
}

.folder__info-header {
  .folder__title {
    @include font-style ('lg', 'bold');
    text-shadow: $shadow-soft;
    white-space: nowrap;
  }
}

.folder__info-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-shadow: $shadow-soft;

  .folder__year {
    @include font-style('sm')
  }

  .folder__category-icons {
    display: flex;
    gap: 5px;

    padding: 5px;

    border-radius: 50px;
  }
}

.folder__info-footer {
  .folder__tech-list {
    display: flex;
    width: max-content;
    @include icon-responsive('gap');

    .tech-icon {
      display: block;
      @include icon-responsive('size');
      background-color: $text-inverse;

      filter: drop-shadow($shadow-strong);
      transition: filter $tr-base;

      /* 마스크 설정: SVG 모양대로 배경색만 보여줌 */
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
    }
  }
}



