@charset "utf-8";

/* Main */
main {
    display: flex;
    justify-content: center;
}

.inner {
    display: grid;
    grid-template-columns: 1fr .5fr;
    column-gap: 10rem;

    margin: 6rem auto;
}


/* Device */
.device {
    position: relative;

    width: 500px;
    height: auto;
    aspect-ratio: 453 / 912;
}

.device-frame {
    display: block;
    position: relative;
    z-index: 3;
    
    width: 100%;
    height: auto;

    pointer-events: none;
}

.device-screen {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    padding: 19.8% 6.5% 6.6% 6.5%;

    overflow: hidden;
    border-radius: 0 0 110px 110px;
}

.device-screen iframe {
    display: block;
    z-index: 1;

    width: 100%;
    height: 100%;
}
