@charset "utf-8";

@media (max-width: 430px) {

.preview {
    display: none;
}

main {
    position: relative;
    overflow: visible;
}

.project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: .5rem;

    width: 90%;
}    

.project::before {
    width: 60%;
    left: -35%;
}
.project::after {
    width: 60%;
    right: -35%;
}

.mobile-link {
    display: flex;
    justify-content: center;
    width: 70%;
    aspect-ratio: 453 / 913;
    
}

.layout {
    overflow: visible;
    padding: 1rem;
    padding-bottom: 6rem;
}

.title {
    font-size: 1.4rem;
}

.group {
    grid-template-columns: 1fr;
}

.goals__item {
    grid-template-columns: 4.2rem 1fr;
}

.overview__meta,
.goals {
    gap: .5rem;
}

.concept__info {
    max-width: 450px;
    align-self: center;
}

.key-features__cards {
    gap: .5rem;
}

.key-features__card {
    gap: .5rem;
    padding: 1rem 1.25rem;

    font-size: .7rem;
}

}



@media (min-width: 431px) and (max-width: 900px) {

main {
    position: relative;
    overflow: visible;
}

.project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: .5rem;

    width: 90%;
}  

.mobile-link {
    display: none !important;
}

.project::before {
    width: 60%;
    left: -35%;
}

.project::after {
    width: 60%;
    right: -35%;
}

.mobile-link {
    display: flex;
    justify-content: center;
    width: 70%;
    aspect-ratio: 453 / 913;
    
}

.layout {
    overflow: visible;
    padding: 1rem;
    padding-bottom: 6rem;
}

.title {
    font-size: 1.4rem;
}

.summary,
p {
    word-break: keep-all;
}

.group {
    grid-template-columns: 1fr;
}

.goals__item {
    grid-template-columns: 4.2rem 1fr;
}

.overview__meta,
.goals {
    gap: .5rem;
}

.concept__info {
    max-width: 450px;
    align-self: center;
}

.key-features__cards {
    gap: .5rem;
}

.key-features__card {
    gap: .5rem;
    padding: 1rem 1.25rem;

    font-size: .7rem;
}

}

@media (min-width: 901px) and (max-width: 1299px) {

.mobile-link {
    display: none;
}

.project {
    padding: 0 5%;
}

.project::before {
    width: 42%;
    left: -28%;
}

.project::after {
    width: 42%;
    right: -28%;
}

.layout {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.group {
    grid-template-columns: 1fr;
}

.concept__info {
    max-width: 450px;
    align-self: center;
}

}

@media (min-width: 1300px) and (max-width: 1699px) {

.project {   
    padding: 1.5% 7% 0 7%;
}

}

@media (min-width: 1700px) and (max-width: 1919px) {

.project {   
    padding: 1.5% 3% 0 3%;
}

}

@media (min-width: 1300px) {
html, body {
    overflow: hidden;
}

}