@charset "utf-8";

.icon {
    display: block;
    
    width: 24px;
    height: 24px;

    fill: none;
    stroke: #1F2937;
    
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

    