@use '../foundation' as *;
@use '../layout' as *;
@use '../components' as *;

.hero {
  position: relative;
  z-index: get-z('base');

  @include flex-center;

  width: 100%;
  height: 100svh;
  @include respond-down('mobile') {
    height: 100dvh;
  }

  overflow: hidden;
}

.hero__text-wrap {
  position: relative;
  text-align: center;
  z-index: get-z('dropdown');
  will-change: transform, opacity;
  transform: translateY(-1vh);
}

.hero__text-wrap .hero__roof {
  transform: translateY(2vh);
  width: 100%;
  aspect-ratio: 22 / 9;
}

.hero__text-wrap .main-title {
  color: $text-primary;
  cursor: default;
  user-select: none;

  @include flex-center;
  flex-direction: column;

  @include respond-down('tablet') {
    display: flex !important;
  }
}

.hero__text-wrap .main-title .word {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.hero__text-wrap .main-title .word--suyeon,
.hero__text-wrap .main-title .word--workroom {
  @include text-style('hero', 'base', 'base', 'tight');
  font-family: $font-point;
}

.hero__text-wrap .main-title .word--suyeon {
  transform: translateY(-0.01em);
}

.hero__text-wrap .main-title .char{
  display: inline-block;
  will-change: transform;
  transform-origin: center center;
}

.word .char {
  pointer-events: none;
}

.word .char--key-hole,
.word .char--key-hole .svg-o,
.word .char--key-hole .svg-o * {
  pointer-events: auto;
}

.main-title .char--key-hole {
  position: relative;
  top: 0.03em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  width: 1em; 
  height: 1em;
  margin-right: 0.05em;
  transform: translateY(0.02em);
}

.svg-o {
  width: 100%;
  height: 100%;
  fill: $text-primary;
}

/* 1줄 */
.main-title .word--suyeon {
  letter-spacing: -0.065em;
  transform: translateX(0.06em) rotate(-0.8deg);
}

/* 2줄 */
.main-title .word--workroom {
  margin-top: 0.1em;
  letter-spacing: -0.075em;
  transform: translateX(-0.04em) rotate(0.8deg);
}

/* SUYEON'S */
.main-title .word--suyeon .char:nth-child(2) {
  transform: translateY(0.07em) rotate(-3.5deg);
}

.main-title .word--suyeon .char:nth-child(3) {
  transform: translateY(-0.06em) rotate(2.8deg);
}

.main-title .word--suyeon .char:nth-child(7) {
  transform: translateY(-0.085em) rotate(8deg);
}

.main-title .word--suyeon .char:nth-child(8) {
  transform: translateY(0.06em) rotate(-2.8deg);
}

/* WORKROOM */
.main-title .word--workroom .char:nth-child(1) {
  transform: translateY(0.05em) rotate(-2.2deg);
}

.main-title .word--workroom .char:nth-child(3) {
  transform: translateY(-0.07em) rotate(3.5deg);
}

.main-title .word--workroom .char:nth-child(4) {
  transform: translateY(0.06em) rotate(-2.8deg);
}

.main-title .word--workroom .char:nth-child(5) {
  transform: translateY(-0.05em) rotate(2.5deg);
}

.main-title .word--workroom .char:nth-child(8) {
  transform: translateY(0.07em) rotate(2.5deg);
}

.hero__scroll-hint {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform, opacity;
  z-index: 10;
}
