@use '../foundation' as *;

body[data-page='log'] {
  .log-page {
    @include flex-center;
    width: 100%;
    min-height: 100vh;
    @include pad('pad', 'md', 'x');
    text-align: center;
  }

  .log-page__message {
    margin: 0;
    @include text-style('lg', 'bold', 'base', 'tight');
    color: $text-primary;
    white-space: pre-line;
  }
}
