@use '../foundation' as *;

.fixed-menu {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;

  margin-top: -80px;
  @include space-pad('cluster', 'md', 'right');

  &:has(.js-fixed-btn[data-state="open"]) {
    .fixed-menu__preview {
      display: none !important;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include space-gap('cluster', 'sm');
  }

  &__btn {
    width: max-content;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    @include space-pad('inset', 'xs');

    display: flex;
    align-items: center;
    justify-content: center;
    transition: $tr-base;

    &[data-state="open"] {
      transform: rotate(45deg);

      svg {
        color: $point-primary;
      }
    }

    svg {
      @include icon-size('lg');
      stroke-width: 1px;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $point-primary;
        }
      }
    }
  }

  &__panel {
    position: absolute;
    right: 60px;
    bottom: 45%;
    width: max-content;
    padding: 1rem;
    background: $bg-glass-strong;
    border: 1px solid $border-soft;
    border-radius: 12px;
    box-shadow: $shadow-surface-soft;
    backdrop-filter: blur(18px);
    display: none;

    &[data-state="open"] {
      display: block;
    }
  }

  &__preview {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 150px;
    height: auto;
    @include rd('md');

    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    overflow: hidden;
  }
}
