@use '../foundation' as *;

.site-footer {
  position: relative;
  display: block;
  @include text-style('base');

  z-index: 1000;
}

body[data-page="home"] .site-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .site-footer__contact {
    order: 2;
  }

  .site-footer__copy {
    order: 1;
  }
}

.site-footer__contact {
  display: flex;
  @include space-gap('cluster', 'sm');
}