@use '../foundation' as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: get-z('toast');
}

.site-header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include space-gap('cluster', 'lg');

  list-style: none;
}

.site-header__link {
  text-decoration: none;
  color: $text-primary;
  @include text-style('base', 'bold', 'wide');
  font-family: $font-point;
}

.site-header__theme-toggle {
  position: relative;
  @include flex-center;
  width: map-get(map-get($font-sizes, 'lg'), 'default');
  aspect-ratio: 1 / 1;
  & svg {
    @include icon-size('md');
    transition: $tr-base;
  }
  & svg {
    stroke-width: 1.5px;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover svg,
    &:focus svg {
      color: $point-primary;
    }
  }
}


.site-header__theme-icon {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: $tr-base;
}

[data-theme='dark'] .icon--light {
  opacity: 1;
}

[data-theme='light'] .icon--dark,
:root:not([data-theme='dark']) .icon--dark {
  opacity: 1;
}

[data-theme='dark'] .icon--dark {
  opacity: 0;
}