@use '../foundation' as *;

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.site-header__menu {
    display: flex;
    justify-content: flex-end;
  @include space-gap('gutter', 'lg');

    list-style: none;
}

.site-header__link {
    text-decoration: none;
    color: #000;
    @include text-style('sm', 'regular', 'base', 'base');
}
