@use '../foundation' as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
}

.site-header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include space-gap('cluster', 'lg');

  list-style: none;
}

.site-header__link {
  text-decoration: none;
  color: $text-primary;
  @include text-style('sm', 'regular', 'base', 'base');
}

.site-header__theme-toggle {
  display: block;
  & svg {
    @include icon-size('md');
    stroke-width: 1px;
  }
}