@use '../foundation' as *;

// 섹션 상하 여백
.section-py {
  @include space-pad('stack', 'md', 'y');
}

// 풀스크린 섹션 패딩 (양옆 최소 여백만 확보)
.l-fullspan {
  width: 100%;
  @include space-pad('inset', 'md');
}

.l-container {
  display: flex;
  flex-direction: column;
  
  @include space-pad('cluster', 'lg', 'x');

  align-items: center; 
}

.l-inner {
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
}


.l-grid {
  display: grid;
  @include space-gap('cluster', 'md');
  
  &--3 {
    grid-template-columns: repeat(3, 1fr);
    
    @include respond-down('laptop') {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include respond-down('mobile') {
      grid-template-columns: 1fr;
    }
  }
}



