@use '../foundation' as *;

:root {
  --gutter: #{rem(20px)};

  @include respond-to('tablet') {
    --gutter: #{rem(16px)};
  }
}

$gutter: var(--gutter);

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 $gutter;
}

