@use '../foundation' as *;

// 섹션 상하 여백
.section-py {
  @include pad('gap', 'md', 'y');
}

// 풀스크린 섹션 패딩 (양옆 최소 여백만 확보)
.l-fullspan {
  width: 100%;
  @include pad('pad', 'md');
}

.l-container {
  display: flex;
  flex-direction: column;
  
  @include pad('gutter', 'lg', 'x'); 

  align-items: center; 
}

// 중앙 정렬이 필요한 섹션에만 부분적으로 사용
.l-inner {
  width: 100%;
  max-width: $container-max; // 1440px
  margin: 0 auto;
}

// 그리드 시스템 (반응형 포함)
.l-grid {
  display: grid;
  @include g-gap('gutter', 'md');
  
  // 3열 그리드 (데스크탑)
  &--3 {
    grid-template-columns: repeat(3, 1fr);
    
    @include respond-to('laptop') {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include respond-to('mobile') {
      grid-template-columns: 1fr;
    }
  }
}



