@use '../foundation' as *;

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flex-center;

  &__title {
    position: relative;
    z-index: map-get($z-index, 'header');
  }

}