@use '../foundation' as *;
@use '../layout' as *;
@use '../components' as *;

.hero {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  height: 100dvh;

  overflow: hidden;

  background: $bg-main;
}

.hero__text-wrap {
  text-align: center;
  z-index: 10;
  will-change: transform, opacity;

  .main-title {
    color: $text-primary;
    cursor: default;
    user-select: none;

    display: flex;          
    justify-content: center;
    align-items: center;
    @include g-gap('gutter', 'sm');

    @include respond-to('mobile') {
      display: flex !important;
      flex-direction: column;
    }

    .word {
      display: inline-flex;
    }

    .word--simple, .word--me {
      @include font-style('hero', 'bold', 'tight');
    }
    .word--hi {
      @include font-style('hero-sub', 'medium', 'tight');
    }
    
    .char, .dot {
      display: inline-block;
      will-change: transform;
      transform-origin: center center;
    }
  }
}

.hero__scroll-hint {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform, opacity;
}

