@use '../foundation' as *;

.hero {
  height: 100vh; 
  @include flex-center(column);
  background-color: var(--color-bg);
  overflow: hidden;

  &__container {
    max-width: $container-max;
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    font-size: rem($fs-hero-desktop); 
    font-weight: $fw-bold;
    letter-spacing: $ls-tight;
    color: $text;
    line-height: 1.1;

    @include respond-to('laptop') {
      font-size: rem($fs-hero-laptop);
    }

    @include respond-to('tablet') {
      font-size: rem($fs-hero-tablet);
    }

    @include respond-to('mobile') {
      font-size: rem($fs-hero-mobile);
    }

    .hi {
      display: inline-block; // GSAP transform 적용을 위해 필수
      color: $focus;
      will-change: transform;
    }

  }

  &__subtitle {
    margin-top: rem(24px);
    font-size: rem(20px);
    opacity: 0.7;
    
    @include respond-to('mobile') {
      font-size: rem(16px);
    }
  }
}