@use '../foundation' as *;
@use '../layout' as *;
@use '../components' as *;

.work {
  position: relative;
  z-index: 2;
  margin-top: 100dvh;

  min-height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  background: $bg-main;
  transform-origin: center top;
}

// Header
.work__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .work__title {
    @include text-style('title', 'bold', 'tight', 'tight');
  }

  .btn-more {
    @include text-style('base', 'light', 'tight', 'base');
  }
}

// Container
.work__container {
  display: flex;
  flex-direction: column;
  @include space-gap('cluster', 'lg');
}

// Slider
.work__slider-container {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: clamp(rem(380px), 65vh, rem(600px));

  perspective: 1200px;
  touch-action: pan-y;

  display: flex;
  justify-content: center;
  align-items: center;
}

.work__cards-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.work__card {
  position: absolute;
  pointer-events: auto;
  transform-origin: center center;
  will-change: transform;
}

.work__nav-controls {
  position: absolute;
  bottom: 10%;

  @media (min-width: $desktop) {
    bottom: 6%;
  }

  @media (min-width: $desktop) and (max-height: 820px) {
    bottom: 1%;
  }

  @media (min-width: $laptop) and (max-width: ($desktop - 1)) {
    bottom: 15%;
  }

  @media (min-width: $laptop) and (max-width: ($desktop - 1)) and (max-height: 820px) {
    bottom: 6%;
  }

  @media (min-width: $tablet) and (max-width: ($laptop - 1)) {
    bottom: 19%;
  }

  @media (min-width: $tablet) and (max-width: ($laptop - 1)) and (max-height: 800px) {
    bottom: 8%;
  }

  @media (max-width: ($tablet - 1)) {
    bottom: 19%;
  }

  @media (max-width: ($tablet - 1)) and (max-height: 740px) {
    bottom: 10%;
  }

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  @include space-gap('cluster', 'lg');

  width: max-content;
  margin: 0 auto;
  z-index: 5;

  .work__nav-btn {
    @include btn-text-style('nav');
    width: 100%;
  }
}
