@use '../foundation' as *;
@use '../layout' as *;
@use '../components' as *;

.work {
  position: relative;
  z-index: 2;
  margin-top: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

// Header
.work__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .work__title {
    @include font-style('title', 'bold', 'tight');
  }

  .btn-more {
    @include font-style('base', 'light', 'tight');
  }
}


// Container
.work__container {
  display: flex;
  flex-direction: column;
  @include f-gap('gutter', 'lg');
}

// Slider
.work__slider-container {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: clamp(rem(380px), 65vh, rem(600px));
  @include pad('pad', 'xl', "bottom");

  perspective: 1200px;
  touch-action: none;
  
  display: flex; 
  justify-content: center;
  align-items: center;
}

.work__cards-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.work__card {
  position: absolute;
  pointer-events: auto;
  transform-origin: center center;
  will-change: transform;
}

.work__nav-controls {
  position: absolute;
  bottom: 5%;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  @include g-gap('gutter', 'lg');

  width: max-content;
  margin: 0 auto;

  .work__nav-btn {
    @include btn-text-style('nav');
    width: 100%;
  }
}

