@use '../foundation' as *;
@use '../layout' as *;
@use '../components' as *;

.work__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include gap('gutter', 'lg', 'bottom');

  .work__title {
    @include font-style('title', 'bold', 'tight')
  }

  .btn-more {
    @include font-style('base', 'light', 'tight')
  }
}


.work__cards-wrapper {
  display: flex;
  @include f-gap('gutter', 'md')
}




