@charset "utf-8";

html {
    color: var(--color-text-default);
}

:root {

    /* ========================
        Color Tokens
    ======================== */

    /* Text */
    --color-text-default: #1F2937;
    --color-text-default-70: rgb(31 41 55 / 70%);
    --color-text-default-soft: #4B5563;

    --color-text-primary-disabled: #757575; 
    --color-text-secondary-disabled: #9CA3AF;

    --color-text-on: #fff;

    /* Gradient */
    --color-accent-gradient: linear-gradient(45deg, #F8A33D 20%, #D946EF 100%);

    /* Line */
    --color-line: #D9D9D9;
    --color-stroke: #B3B3B3;

    /* Accent */
    --color-orange: #FF8A3D;
    --color-orange-70: rgb(255 128 61 / 70%);
    --color-orange-20: rgb(255 128 61 / 20%);

    --color-yellow: #FBBF24;
    --color-yellow-20: rgb(251 191 36 / 20%);

    --color-lightyellow: #FFF1CE;

    --color-purple: #D946EF;

    --color-gray: #9CA3AF;

    /* Background */
    --color-lightblue: #F1F5F9;
    --color-lightgray: #EDEDED;
    --color-beige: #F8F8F8;
    --color-white: #fff;

    /* SNS */
    --color-instagram: linear-gradient(90deg,#F58529 0%, #DD2A7B 50%, #8134AF 100%);
    --color-youtube: #FF0000;
    --color-facebook: #4267B2;
    --color-naverblog: #2AA800;
    --color-kacao: #F9E000;
}