@charset "utf-8";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;

    padding: 5rem 1.5rem 2rem 1.5rem;

    font-size: .75rem;
    font-weight: 300;
}

.footer__info strong {
    font-weight: 300;
}

.footer__nav,
.footer__escrow,
.footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 .75rem;
}

.footer__info {
    text-align: center;
}

.footer__info p {
    display: inline;
}

.footer__info p:not(:nth-child(3),:last-child)::after {
    content: "|";
    margin-left: 5px;
    margin-right: 2px;
}

.footer__copyright {
    letter-spacing: .03em;
}