@charset "utf-8";

/* header 전체 */
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;

    padding: 1rem 1.5rem;

    background: #fff;
}

body {
    padding-top: 4rem;
}

/* 로고 */
.logo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);

    font-size: 1.5rem;
    font-weight: 500;
}

.logo a {
    padding: 0.5rem;
}

/* 메뉴 */
.header__menu {
    padding: 0.5rem;
}

.header__menu svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

[data-state="open"] { display:none; }
.header__menu[aria-expanded="true"] [data-state="closed"] { display:none; }
.header__menu[aria-expanded="true"] [data-state="open"] { display:block; }

.header__menu:hover [data-state="closed"],
.header__menu:focus-visible [data-state="closed"] { display: none; }
.header__menu:hover [data-state="open"],
.header__menu:focus-visible [data-state="open"] { display: block; }


/* 사용자 액션 */
.header__actions svg{
    display: block;
    width: 1.5rem; 
    height: 1.5rem;
}

.login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.login svg g {
    display: none;
}
.login[data-state="logged-out"] g[data-icon="logged-out"] { display: block; }
.login[data-state="logged-in"]  g[data-icon="logged-in"]  { display: block; }

.cart {
    display: inline-flex;
    position: relative;
    align-items: center; 
    flex: 0 0 auto;
    
    padding: 0.5rem;
}

.cart__badge {
    position: absolute;
    top: 0.8rem;
    right: 0.2rem;
    font-size: 0.7rem;
    color: #000;
}

/* 메인 메뉴 */
.header__gnb {
    position: fixed;
    left: 0;
    top: 4rem;

    height: 100dvh;
    width: min(80vw, 320px);

    background: #fff;

    transform: translateX(-100%); /* -100%, 0% */
    transition: transform .2s ease;
}

#header-menu[aria-expanded="true"] + .header__gnb {transform: translateX(0);}

.gnb__list {
    display: flex; /* none;, flex; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    
    flex-direction: column;
    gap: 1.7rem;

    padding: 1.5rem;
}

#header-menu[aria-expanded="true"] + .header__gnb .gnb__list {display:flex;}

.gnb__link, .gnb__sublink {
    padding: 0.5rem;
}
.gnb__item--has-sub {
    padding: 0 0.5rem;
}

/* 메뉴 토글 */
.gnb__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/* 서브 메뉴 */
/* 서브 메뉴 열기 
.header__gnb .gnb__sublist {
    display: none;
} */

.gnb__sublist {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    padding-top: 1.5rem;
    padding-left: 0.5rem;
}


/* 인스타그램 */
.instagram {
    display: inline-flex;
    width: fit-content;
    padding: 0.5rem;
}


/* 검색 기본 레이아웃 */
.search__btn {
    padding: 0.5rem;
}


/* 검색바 한 줄 정렬 */
.search__bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: fit-content;
}


/* 인풋 영역 */
.search__input {
    flex: 0.8;
    /* css에서는 placeholder 길이 만큼만 늘어나게는 못함 */
    min-width: 0;
    max-width: 20rem;

    border-bottom: 1px solid #888;
    text-align: center;
}
.search__input::placeholder {
    color: #cccccc;
}
