@use "./foundation" as *;
@use "./foundation/reset";
@use "./foundation/themes";


// ========================================
// PPT Page Base
// ========================================

.ppt-page {
  @include ppt-page;

  position: relative;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
}